PORT=5000
MONGODB_URI=mongodb://abhaynagpure99_db_user:9ucbpXWVlyBakSRQ@ac-sazyjmb-shard-00-00.elnve1r.mongodb.net:27017,ac-sazyjmb-shard-00-01.elnve1r.mongodb.net:27017,ac-sazyjmb-shard-00-02.elnve1r.mongodb.net:27017/?ssl=true&replicaSet=atlas-xj6h83-shard-0&authSource=admin&appName=Cluster0
EMAIL_USER=rhphotography676@gmail.com
EMAIL_PASS=zbgw cqqr juzt uyaz
